node_modules/
.idea
*.ipr
*.iml
*.iws

.classpath
.project
.settings

.tags.env

.workspace

# IntelliJ IDEA files
.idea/
.vscode/
*.iml

.project
.settings/
dist/
public/
coverage/
functional-output/
package-lock.json
.vscode
yarn-error.log
.github/