node_modules/
.idea
*.ipr
*.iml
*.iws

.classpath
.project
.settings

.tags.env

.workspace

# IntelliJ IDEA files
.idea/
.vscode/
*.iml

.project
.settings/
dist/
public/
coverage/
functional-output/
node_modules/*
package-lock.json
.vscode
yarn-error.log
.github/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions